<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
      
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
  </head>
  <body id="bd" style="background-image:url(../static/images/headphones3.jpg);">
    <br />
    <div id="mySidenav" class="sidenav" style="background-color: transparent;">
      <a href="javascript:void(0)" class="closebtn" style="cursor: no-drop;font-size:30px;font-weight: bold;"><span id="username_head">12CHARNAME&nbsp;&nbsp;&nbsp;</span><span onclick="closeNav()">&times;</span></a>
      <a onclick="addpopup()" style="cursor: no-drop;font-size: 20px;margin-bottom:10px;margin-top:30px;" class="innerElements" id="myBtn">ADD VIDEO</a>
      <a onclick="addpopup()" style="cursor: no-drop;font-size: 20px;margin-bottom:10px;" class="innerElements" id="myBtn2">REMOVE VIDEO</a>

      <a  style="cursor: no-drop;font-size: 20px;margin-bottom:10px;" class="innerElements" onclick="playlist_redirect()">PLAYLISTS</a>
      <a  style="cursor: no-drop;font-size: 20px;margin-bottom:10px;" class="innerElements" id="myBtn1" onclick="addpopup()">EDIT PROFILE</a>
      <a  style="cursor: no-drop;font-size: 20px;margin-bottom:10px; " class="innerElements" onclick="logout()">LOGOUT</a>
      
    </div>


    <div id="myMdal" class="mdal">

      <div class="mdal-content" >
	<div class="mdal-header" style="background-color: black;color: white;">
	  <span class="clse" style="cursor: no-drop;">&times;</span>
	  <h2 style="text-align: center;font-weight: bold;padding-top: 0.5px;padding-bottom: 0.5px;">Add Video</h2>
	</div>
	<div class="mdal-body" style="background-color:white " id="add_body">
	  <h3>Enter YouTube URL here: </h3><br/><input autocomplete="off" type="text" id="url" placeholder="Paste your url here" class="myInput" ><br />
	  <input type="checkbox" id="chk_nm" onclick="chck()"><span style="font-size: 20px;">&nbsp;Use custom name</span>
	  <span id="Custom_name">
	    <h3>Enter Custom Name here: </h3><br/><input autocomplete="off" type="text" placeholder="Unique Custom Name" class="myInput" id="cstm_nm"><br /></span>
	  <br />
	</div>
	<div class="mdal-footer" style="text-align: center;padding-bottom: 7px;padding-top: 7px;background-color: black;color: white;">
	  <button onclick="h();" class="submit_btn" style="text-align: center;">ADD TO GALLERY</button>
	</div>
      </div>

    </div>

    <div id="myMdal1" class="mdal1">

      <div class="mdal-content1" >
	<div class="mdal-header1" style="background-color: black;color: white;">
	  <span class="clse1" style="cursor: no-drop;">&times;</span>
	  <h2 style="text-align: center;font-weight: bold;padding-top: 0.5px;padding-bottom: 0.5px;">EDIT PROFILE</h2>
	</div>
	<div class="mdal-body1" style="background-color:white " id="add_body1">

          <input type="checkbox" id="chk_edit_urnm" onclick="chck1()"><span style="font-size: 20px;">&nbsp;Edit Username</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <input type="checkbox" id="chk_edit_psswd" onclick="chck2()"><span style="font-size: 20px;">&nbsp;Change Password</span>
	  <span id="edit_usrname">
       	    <h3>Enter Username here: </h3><br/><input autocomplete="off" type="text" placeholder="Unique New UserName" class="myInput" id="edit_usrnm"><br />
       	    <h3>Enter Name here: </h3><br/><input autocomplete="off" type="text" placeholder="Unique New Name" class="myInput" id="edit_nm"><br />
       	  </span>
          <br />
          <span id="edit_psswd">
       	    <h3>Old Password: </h3><br/><input autocomplete="off" type="password"  placeholder="Old Password" class="myInput" id="old_psswd"><br />
       	    <h3>New Password: </h3><br/><input autocomplete="off" type="password" placeholder="New Password" class="myInput" id="new_passwd"><br />
       	    <h3>Confirm Password: </h3><br/><input autocomplete="off" type="password" placeholder="Confirm Password" class="myInput" id="conf_passwd"><br />
       	  </span>
          <br />



	  
	</div>
	<div class="mdal-footer1" style="text-align: center;padding-bottom: 7px;padding-top: 7px;background-color: black;color: white;">
	  <button onclick="edit()" class="submit_btn" style="text-align: center;">EDIT</button>
	</div>
      </div>

    </div>


    <div id="myMdal2" class="mdal2">

      <div class="mdal-content2" >
	<div class="mdal-header2" style="background-color: black;color: white;">
	  <span class="clse2" style="cursor: no-drop;">&times;</span>
	  <h2 style="text-align: center;font-weight: bold;padding-top: 0.5px;padding-bottom: 0.5px;">Remove Video</h2>
	</div>
	<div class="mdal-body2" style="background-color:white " id="rm_body">
	  <h3>Enter Video Name Here: </h3><br/><input autocomplete="off" type="text"  placeholder="Valid name" class="myInput"  id="del_name"><br />
	</div>
	<div class="mdal-footer" style="text-align: center;padding-bottom: 7px;padding-top: 7px;background-color: black;color: white;">
	  <button onclick="remove();" class="submit_btn" style="text-align: center;">REMOVE</button>
	</div>
      </div>

    </div>




    <div id="menu">
      &nbsp;&nbsp;
      <span style="font-size:30px;cursor:no-drop;color: white;" onclick="openNav()">&#9776; MENU</span>
    </div>

    <div class="bs-example">
      
      <div id="warning" style="color:red"></div>
      <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" id="modal-content" onclick="ar()">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="hide()">×</button>
              <h4 class="hd" style="color:black; text-align:center;" id="hding"></h4>
            </div>
            <div class="modal-body" id="mb">
            </div>
          </div>
        </div>
      </div>
    </div> 
    <table id="myTable">
    </table>
    <div class="modal-load"></div>

    <script type="text/javascript" src="../static/js/dashboard.js"></script>
  </body>
</html>
