<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <title>YouTubers' Paradise</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/vendor/assets/bootstrap-material-design-font/css/material.css">
    <link rel="stylesheet" href="../static/css/vendor/assets/tether/tether.min.css">
    <link rel="stylesheet" href="../static/css/vendor/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/vendor/assets/animate.css/animate.min.css">
    <link rel="stylesheet" href="../static/css/vendor/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="../static/css/vendor/assets/theme/css/style.css">
    <link rel="stylesheet" href="../static/css/vendor/assets/theme/css/style-rtl.css">
    <link rel="stylesheet" href="../static/css/vendor/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <style>    
      .w3-animate-top{top:38px; animation:animatetop 1s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:38px;opacity:1}}
    </style>
  </head>
  <body class="rtl">

    <section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-1" style="background-image:url('../static/images/guitar.jpg');">
      <div class=" w3-center w3-animate-top" style="animation:animatetop 1s; color:white; width:1350px; text-align:center;">
	<table style="width:100%"><tr><td style="text-align:center; width:33%;">
	      <img src="../static/images/l.png">
	</td></tr></table>
      </div>

      <div class="mbr-table-cell">
        <div class="container">
          <div class="row">
            <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
              <h1 class="mbr-section-title display-1" id="tp">YOUTUBERS' PARADISE</h1>
              <p class="mbr-section-lead lead" style="font-weight:bold; color:white;">A one stop shop for managing all your YouTube content</p>
              <div class="mbr-section-btn"> <button type="button" class="btn btn-lg btn-warning-outline btn-warning" onclick="f()">LOGIN</button> 
                <button type="button" class="btn btn-lg btn-warning-outline btn-warning" onclick="g()">SIGN UP</button><br></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="../static/js/home.js"></script>
  </body>
  
  
</html>
